<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light" data-width="fullwidth" data-menu-styles="dark" data-page-style="flat" data-toggled="close">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>ezStay - Checkin/Checkout Management</title>

    <link id="style" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='libs/simplebar/simplebar.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='libs/node-waves/waves.min.css') }}" rel="stylesheet"> 
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" >
    <link href="{{ url_for('static', filename='css/icons.css') }}" rel="stylesheet" >
    
    <link href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

    <style>
        :root { --ez-primary: #8a2be2; }
        .app-sidebar { background-color: var(--ez-primary) !important; }
        .btn-primary { background-color: var(--ez-primary) !important; border-color: var(--ez-primary) !important; }
        .btn-primary:hover { background-color: #6a1aae !important; border-color: #6a1aae !important; }
        .text-fixed-white { color: white !important; }

        .main-menu .slide a.active, .main-menu .slide a:hover {
            color: #fff !important;
            background-color: rgba(255, 255, 255, 0.1);
        }
        .text-purple { color: var(--ez-primary) !important; }
        table.dataTable thead th { background-color: var(--ez-primary); color: white; }
        </style>
</head>

<body>
    <div class="page">
    <!-- SIDEBAR -->
    <aside class="app-sidebar sticky" id="sidebar">
        <div class="main-sidebar-header p-3 text-center">
          <a class="header-logo text-fixed-white fs-3 fw-bold">ezStay</a>
        </div>
        <div class="main-sidebar" id="sidebar-scroll">
          <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <ul class="main-menu">
              <li class="slide"><a href="{{ url_for('dashboard') }}" class="side-menu__item active"><i class="ri-home-2-line side-menu__icon"></i><span class="side-menu__label">Dashboard</span></a></li>
  
              {% if role == 'admin','manager' %}
                <li class="slide"><a href="/rooms" class="side-menu__item"><i class="ri-door-line side-menu__icon"></i><span class="side-menu__label">Rooms</span></a></li>
                <li class="slide"><a href="/housekeeping" class="side-menu__item"><i class="ri-brush-3-line side-menu__icon"></i><span class="side-menu__label">Housekeeping</span></a></li>
                <li class="slide"><a href="/dining" class="side-menu__item"><i class="ri-restaurant-line side-menu__icon"></i><span class="side-menu__label">In-Room Dining</span></a></li>
                <li class="slide"><a href="/laundry" class="side-menu__item"><i class="ri-t-shirt-line side-menu__icon"></i><span class="side-menu__label">Laundry</span></a></li>
                <li class="slide"><a href="/massage" class="side-menu__item"><i class="ri-body-scan-line side-menu__icon"></i><span class="side-menu__label">Massage/Spa</span></a></li>
                <li class="slide"><a href="/guests" class="side-menu__item"><i class="ri-group-line side-menu__icon"></i><span class="side-menu__label">Guests</span></a></li>
                <li class="slide"><a href="/staff" class="side-menu__item"><i class="ri-team-line side-menu__icon"></i><span class="side-menu__label">Staff</span></a></li>
                <li class="slide"><a href="/bookings" class="side-menu__item"><i class="ri-calendar-check-line side-menu__icon"></i><span class="side-menu__label">Bookings</span></a></li>
                <li class="slide"><a href="/roomGuest" class="side-menu__item"><i class="ri-exchange-line side-menu__icon"></i><span class="side-menu__label">Check-in/Checkout</span></a></li>
                <li class="slide"><a href="/requests" class="side-menu__item"><i class="ri-task-line side-menu__icon"></i><span class="side-menu__label">Requests</span></a></li>
                <li class="slide"><a href="/calendar" class="side-menu__item"><i class="ri-calendar-line side-menu__icon"></i><span class="side-menu__label">Calendar</span></a></li>
              {% endif %}
  
              {% if role == 'admin' %}
                <li class="slide"><a href="/users" class="side-menu__item"><i class="ri-shield-user-line side-menu__icon"></i><span class="side-menu__label">Authorized Users</span></a></li>
                <li class="slide"><a href="/auditlogs" class="side-menu__item"><i class="ri-file-list-line side-menu__icon"></i><span class="side-menu__label">Audit Trail</span></a></li>
              {% endif %}
              <li class="slide my-3 border-top border-light opacity-25 mx-4"></li>
              <li class="slide"><a href="{{ url_for('profile') }}" class="side-menu__item"><i class="ri-user-settings-line side-menu__icon"></i><span class="side-menu__label">Profile</span></a></li>
            </ul>
          </nav>
        </div>
      </aside>
          
        <div class="main-content app-content">
            <div class="container-fluid page-container main-body-container">

                <div class="d-flex align-items-center justify-content-between mb-4 mt-3">
                    <h1 class="page-title fw-medium fs-20 mb-0">Checkin/Checkout Management</h1>
                </div>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="mb-3">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ 'success' if category == 'success' else 'danger' if category == 'danger' else 'warning' }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}

                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <h5 class="card-title mb-0">Bookings List</h5>
                        <!--
                        {% if session['role'] != 'user' %}
                        <button type="button" class="btn btn-primary btn-sm btn-wave" data-bs-toggle="modal" data-bs-target="#addBookingModal">
                            <i class="ri-add-line me-1"></i> Add Booking
                        </button>
                        {% endif %}
                        -->
                    </div>
                    <div class="card-body">
                        
                        <div class="table-responsive">
                            <table id="bookingsTable" class="table text-nowrap table-hover table-bordered">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Room Number</th>
                                        <th>Guest</th>
                                        <th>Expected Check-in</th>
                                        <th>Expected Check-out</th>
                                        <th>Actual Check-in</th>
                                        <th>Actual Check-out</th>
                                        <th>Last Update</th>
                                        <th colspan="3" class="text-center align-middle">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for booking in bookings %}
                                    <tr>
                                        <td>{{ booking.room_number }}</td>
                                        <td>{{ booking.last_name }}, {{booking.first_name}}</td>
                                        <td>{{ booking.exp_check_in }}</td>
                                        <td>{{ booking.exp_check_out }}</td>
                                        <td>{{ booking.actual_check_in }}</td>
                                        <td>{{ booking.actual_check_out }}</td>
                                        <td>{{ booking.last_update }} / {{ booking.timestamp }} </td>
                                        <td>
                                            {% if not booking.actual_check_in %}
                                                <!-- Show Check-In button if no check-in date yet -->
                                                <button class="btn btn-success btn-sm" onclick="openCheckInModal('{{ booking.booking_id }}')">
                                                    <i class="ri-login-circle-line"></i> Check-In
                                                </button>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if role in ['manager', 'user', 'admin'] and booking.actual_check_in and not booking.actual_check_out %}
                                                <a href="{{ url_for('view_bill', booking_id=booking.booking_id) }}" class="btn btn-sm btn-info-light btn-wave">View Bill</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if booking.actual_check_in and not booking.actual_check_out %}
                                                <!-- Show Check-Out button if checked-in but not yet checked-out -->
                                                <button class="btn btn-danger btn-sm" onclick="openCheckOutModal('{{ booking.booking_id }}')">
                                                    <i class="ri-logout-circle-line"></i> Check-Out
                                                </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer class="footer mt-auto py-3 text-center">
            <div class="container-fluid">
                <span class="text-muted"> Copyright © <span id="year">2024</span> <a href="javascript:void(0);" class="text-dark fw-medium">ezStay</a>. All rights reserved.</span>
            </div>
        </footer>
    </div>

  <!-- Check-In Modal -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <div class="modal fade" id="checkInModal" tabindex="-1" aria-labelledby="checkInModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <form action="/checkin" method="POST" class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="checkInModalLabel">Check-In</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <input type="hidden" name="booking_id" id="checkin_booking_id">
          <div class="mb-3">
              <label for="checkin_date" class="form-label">Check-In Date:</label>
              <input type="date" class="form-control" id="actual_check_in" name="actual_check_in" required>
          </div>
          </div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
      </form>
      </div>
  </div>

      <!-- Check-Out Modal -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <div class="modal fade" id="checkOutModal" tabindex="-1" aria-labelledby="checkOutModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <form action="/checkout" method="POST" class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="checkOutModalLabel">Check-In</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <input type="hidden" name="booking_id" id="checkout_booking_id">
          <div class="mb-3">
              <label for="checkout_date" class="form-label">Check-Out Date:</label>
              <input type="date" class="form-control" id="actual_check_out" name="actual_check_out" required>
          </div>
          </div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
      </form>
      </div>
  </div>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>
    
    <script src="{{ url_for('static', filename='libs/@popperjs/core/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/node-waves/waves.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/simplebar/simplebar.min.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/defaultmenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sticky.js') }}"></script>
    <script src="{{ url_for('static', filename='js/simplebar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    <script>
        function openCheckInModal(bookingId) {
            document.getElementById('checkin_booking_id').value = bookingId;
    
            // Set today's date as default
            const today = new Date().toISOString().split('T')[0];
            document.getElementById('actual_check_in').value = today;        
    
            const modal = new bootstrap.Modal(document.getElementById('checkInModal'));
            modal.show();
            }
    
            function openCheckOutModal(bookingId) {
            document.getElementById('checkout_booking_id').value = bookingId;

            // Set today's date as default
            const today = new Date().toISOString().split('T')[0];
            document.getElementById('actual_check_out').value = today;        

            const modal = new bootstrap.Modal(document.getElementById('checkOutModal'));
            modal.show();
        }
        // Custom JS Functions
        const roomsData = {{ rooms | tojson | safe }};

        function formatDate(dateStr) {
            const date = new Date(dateStr);
            const yyyy = date.getFullYear();
            const mm = String(date.getMonth() + 1).padStart(2, '0');
            const dd = String(date.getDate()).padStart(2, '0');
            return `${yyyy}-${mm}-${dd}`;
        }

        function validateCheckout(checkinId, checkoutId, errorId) {
            const checkin = document.getElementById(checkinId).value;
            const checkout = document.getElementById(checkoutId).value;
            const errorDiv = document.getElementById(errorId);

            if (checkin && checkout && new Date(checkout) <= new Date(checkin)) {
                errorDiv.textContent = "Check-out must be after check-in.";
                document.getElementById(checkoutId).value = "";
            } else {
                errorDiv.textContent = "";
            }
        }

        function limitCheckoutRange(checkinId, checkoutId) {
            const checkinInput = document.getElementById(checkinId);
            const checkoutInput = document.getElementById(checkoutId);

            const checkinDate = new Date(checkinInput.value);
            if (isNaN(checkinDate)) return;

            const minCheckout = new Date(checkinDate);
            minCheckout.setDate(minCheckout.getDate() + 1);

            const maxCheckout = new Date(checkinDate);
            maxCheckout.setDate(maxCheckout.getDate() + 90);

            checkoutInput.min = minCheckout.toISOString().split("T")[0];
            checkoutInput.max = maxCheckout.toISOString().split("T")[0];
        }

        function filterBookingRooms() {
            const selectedType = document.getElementById("room_type").value;
            const roomSelect = document.getElementById("room_id");
            const allOptions = [...roomSelect.options];

            allOptions.forEach(option => {
                const matchesType = option.getAttribute("data-room-type") === selectedType;
                option.style.display = matchesType || option.value === "" ? "block" : "none";
            });
            
            if (!allOptions.some(opt => opt.value === roomSelect.value && opt.style.display !== 'none')) {
                roomSelect.value = "";
            }
        }

        function filterEditBookingRooms() {
            const selectedType = document.getElementById("edit_room_type").value;
            const roomSelect = document.getElementById("edit_room_id");
            const allOptions = [...roomSelect.options];

            allOptions.forEach(option => {
                const matchesType = option.getAttribute("data-room-type") === selectedType;
                option.style.display = matchesType || option.value === "" ? "block" : "none";
            });
        }

        function openEditModal(booking) {
            document.getElementById("edit_booking_id").value = booking.booking_id;
            document.getElementById("edit_guest_id").value = booking.guest_id;
            document.getElementById("edit_room_type").value = booking.room_type;
            document.getElementById("edit_exp_check_in").value = formatDate(booking.exp_check_in);
            document.getElementById("edit_exp_check_out").value = formatDate(booking.exp_check_out);
            document.getElementById("edit_status").value = booking.status;
            
            filterEditBookingRooms();
            
            document.getElementById("edit_room_id").value = booking.room_id;

            new bootstrap.Modal(document.getElementById('editBookingModal')).show();
        }

        function confirmDelete(booking_id, guest_name) {
            // NOTE: The fetch call logic relies on a Flask route /checkBookingUsage/<booking_id>
            fetch(`/checkBookingUsage/${booking_id}`) 
            .then(response => response.json())
            .then(data => {
                if (data.in_use) { 
                    new bootstrap.Modal(document.getElementById('inUseModal')).show();
                } else { 
                    document.getElementById("modalBookingName").innerText = guest_name;
                    document.getElementById("confirmDeleteBtn").href = `/deleteBooking/${booking_id}`;
                    new bootstrap.Modal(document.getElementById('deleteModal')).show();
                }
            })
            .catch(error => console.error("Error checking booking usage:", error));
        }

        // Custom Sidebar/Header Dropdown Logic (for header functionality)
        window.toggleDropdown = function() {
            var menu = document.getElementById("dropdownMenu");
            menu.style.display = (menu.style.display === "block") ? "none" : "block";
        }
        window.onclick = function(event) {
            if (!event.target.matches('.profile-icon')) {
                var menu = document.getElementById("dropdownMenu");
                if (menu && menu.style.display === "block") {
                    menu.style.display = "none";
                }
            }
        }
        
        // DataTables init and Sidebar Toggle on DOM Load
        $(function () {
            document.getElementById('year').textContent = new Date().getFullYear();
            
            // Initialize DataTables
            $('#bookingsTable').DataTable({
                pageLength: 10,
                order: [[0, 'asc']],
                lengthChange: true,
                responsive: true,
                language: {
                    search: "_INPUT_", 
                    searchPlaceholder: "Search bookings...",
                },
                columnDefs: [
                    { targets: [9], orderable: false, searchable: false }
                ],
                // Dom structure for Bootstrap 5 integration
                dom: '<"top"lf>rt<"bottom"ip><"clear">'
            });
            
            // Vyzor theme sidebar toggle JS logic
            const toggle = document.querySelector('.sidemenu-toggle');
            if (toggle) {
                toggle.addEventListener('click', function() {
                    const html = document.querySelector('html');
                    if (html.getAttribute('data-toggled') === 'close') {
                        html.setAttribute('data-toggled', 'open');
                    } else {
                        html.setAttribute('data-toggled', 'close');
                    }
                });
            }
        });
    </script>
</body>
</html>